<%- include("partials/header"); -%>

<div class="cont gradient-background">

  
  <div class="con">
      <h1>Start writing your blog</h1>
      <form action="log" method="post">
      <button >Login</button></form>
    </div>  
 
   




</div>


<%- include("partials/footer"); -%>
